<%- include('../partials/header') %>

<form action='/flights' method='POST'>
  <h1>Enter Arrival</h1>
    <!-- <label>Airline</label> -->
    <!-- <select name='airline'>
      <option value='American'>American</option>
      <option value='Southwest'>Southwest</option>
      <option value='United'>United</option>
    </select><br><br> -->
    <label>Airport</label>
    <select name='airport'>
      <option value='DEN'>DEN</option>
      <option value='AUS'>AUS</option>
      <option value='DFW'>DFW</option>
      <option value='LAX'>LAX</option>
      <option value='SAN'>SAN</option>
    </select><br><br>
    <!-- <label>Flight Number: <input type='number' name='flightNo'> </label><br><br> -->
    <label>Arrival Date: <input type='date' name='arrival'> </label><br><br>
    <button type="submit">Add Destination</button>
</form>



<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival</th>
          <!-- <th>Rating</th> -->
        </tr>
      </thead>
      <tbody>
        <!-- <% let total = 0 %> -->
        <% flight.destinations.forEach(function(f) { %>
          <!-- <% total += r.rating %> -->
          <tr>
            <td><%= f.airport %></td>
            <td><%= f.arrival %></td>
            <!-- <td><%= r.rating %></td> -->
          </tr>
        <% }); %>
        <!-- <tr>
          <td colspan="2"></td>
          <td><strong><%= (total / movie.reviews.length).toFixed(1) %></strong></td>
        </tr> -->
      </tbody>
    </table>
<% } else { %>
    <h5>Destination still pending</h5>
<% } %>

<%- include('../partials/footer') %>
