<%- include('../partials/header') %>

<form action='/flights/<%= flight._id %>/destinations' method='POST'>
  <h1>Enter Arrival</h1>

    <label>Airport</label>
    <select name='airport'>
      <option value='DEN'>DEN</option>
      <option value='AUS'>AUS</option>
      <option value='DFW'>DFW</option>
      <option value='LAX'>LAX</option>
      <option value='SAN'>SAN</option>
    </select><br><br>
    <label>Arrival Date: <input type='date' name='arrival'> </label><br><br>
    <button type="submit">Add Destination</button>
</form>



<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(f) { %>
          <tr>
            <td><%= f.airport %></td>
            <td><%= f.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
<% } else { %>
    <h5>Destination still pending</h5>
<% } %>

<%- include('../partials/footer') %>
